.about{
  text-align: center;
  justify-content: center;
  padding: 4rem 1rem;
  background: #fff;
  gap: 2rem;
}

.text1{
  color: #ff69b4;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 700;

}

p{
  font-size: 20px;
}