.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  background: #fff0f5;
  gap: 2rem;
}

.hero-content {
  max-width: 500px;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  color: #ff69b4;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #333;
}

.hero-btn {
  background-color: #ff69b4;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: #e0559f;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: #e0559f 0px 6px 12px;
}

.order-btn1{
  margin: 2rem 1rem;
  display: block;
  text-align: center;
  padding: 0.7rem;
  background: #ff69b4;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s;
  text-decoration: none;
}

.order-btn1:hover{
  background: #e0559f;
}
