.menu{
  padding: 2rem 1rem;
  background: #FFF7F9;
}

.menu h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ff69b4;

}

.menu-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.menu-card{
  background: #ffF;
  border-radius:16px ;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.menu-card:hover{
  transform: scale(1.05);
}

.menu-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.menu-card h3{
  padding: 1rem 1rem 0.3rem;
}

.menu-card .desc{
  padding: 0 1rem;
  font-size: 0.9rem;
  color: #FFF7F9;

}

.menu-card .price{
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #E91E63;
}  

.order-btn{
  margin: 2rem 1rem;
  display: block;
  text-align: center;
  padding: 0.7rem;
  background: #25D366;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s;
  text-decoration: none;
}

.order-btn:hover{
  background: #1ebe57;

}